/* CSS pour l'animation */
        @keyframes slideIn {
            0% {
                transform: translateX(-200%);
            }
            100% {
                transform: translateX(0);
            }
        }

        @keyframes slideIn2 {
            0% {
                transform: translateY(-200%);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        /* CSS pour le titre et la description */
        h1 {
            background-color: burlywood;
            animation: slideIn 1s ease-out;
        }
        h2 {
            background-color: aqua;
            animation: slideIn 1s ease-out;
        }
        p {
            font-size: 22px;
            animation: slideIn 1s ease-out 0.5s;
        }       

        .div {
            font-size: 22px;
            animation: slideIn 1s ease-out 0.5s;
        }   







        